* {
    bottom: 0;
}

.footer {
    background-color: #1a2027;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer p {
    font-size: small;
    position:absolute;
    bottom: 0;
    right: 0;
}